[Desktop Entry]
Name=MyPlay
Comment=Play music
Exec=myplay
Icon=audio-volume-high
Terminal=false
Type=Application
Categories=GTK;GNOME;AudioVideo;Player;Audio;
StartupNotify=true
